<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profi2.css') }}">
</head>
<body>

    <div id="first-page">
        <section class="game-info">
            <p>Version 1.0.3</p>
            <p>Server: Europa</p>
            <button class="game-info-buttons" id="login-pfad">Login</button>
            <button class="game-info-buttons" id="account-change-pfad">Account Wechseln</button>
        </section>

        <div class="button-start-area">
            <button id="game-start">Tap to Start</button>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='profi2.js') }}"></script>
</body>
</html>