<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profi2.css') }}">
</head>
<body>

    <div id="first-page">
        <div id="button-start-area">
            <img src="{{ url_for('static', filename='logo_only.jpg') }}" alt="a picture"> 
            <button id="game-start">Tap to Start</button>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='profi2.js') }}"></script>
</body>
</html>